@{
  Layout = "_Layout";
}

@model Fallout.Models.Shelter

<h2>Edit Record</h2>

<h4>Edit @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ShelterId)

  @Html.LabelFor(model => model.Name) <span> &nbsp; </span>
  @Html.EditorFor(model => model.Name)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>